body{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
		
		}
		.error{
			color: ##FF4933;
			background-color: ##3368FF;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
		}
		.validation{
			color: #D63301;
			background-color: #FFCCBA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
		}
