img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1,h2,#auto
{
  margin-left: 25%;

}
#caption
{
  margin-left: 25%;

}

.floated {
  float:left;
  margin-right: 5px;
}

#btn{
  margin-left: 25%;
}
